apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb-staging
spec:
  selector:
    matchLabels:
      app: mongodb-staging
  replicas: 1
  template:
    metadata:
      labels:
        app: mongodb-staging
    spec:
      containers:
      - name: mongodb
        image: mongo:4.4.1
        ports:
        - containerPort: 27017
        env:
        - name: MONGO_INITDB_ROOT_USERNAME
          value: "root"
        - name: MONGO_INITDB_ROOT_PASSWORD
          value: "{{ database_root_password }}"
        - name: MONGO_INITDB_DATABASE
          value: "gatsby"
        - name: MONGO_API_USER
          value: "{{ database_api_user | default("gatsby") }}"
        - name: MONGO_API_PASS
          value: "{{ database_api_password }}"
        volumeMounts:
          - name: mongo-initdb
            mountPath: /docker-entrypoint-initdb.d
          - name: nfs-share
            mountPath: /data/db
      volumes:
        - name: mongo-initdb
          configMap:
            name: mongo-initdb-config
        - name: nfs-share
          nfs:
            server: "{{ nfs_server_ip }}"
            path: "{{ nfs_server_path_mongo }}"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mongo-initdb-config
data:
  mongo-init.sh: |
    #/bin/bash
    set -e

    mongo <<EOF
    use admin
    db.createUser(
      {
        user: "{{ database_api_user | default("gatsby") }}",
        pwd: "{{ database_api_password }}",
        roles: [
          {
            role: "readWrite",
            db: "gatsby"
          }
        ]
      }
    )
    EOF
